body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: green;
  overflow: hidden;
}

#terminal {
  height: 100vh;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: auto;
}

.hidden {
  display: none;
}

#logo-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: green;
}

#password-screen, #captcha-screen, #main-site {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#password-input, #chat-input {
  padding: 10px;
  background: black;
  border: 1px solid green;
  color: green;
  font-family: Courier;
  font-size: 18px;
  width: 300px;
}

#chat-box {
  margin-top: 20px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 10px;
}
